h2{
	color:#0E6E8A;
}
img {
width: 50px;
height: 50px;
}
body{
	background-color: grey;
}
h3{
	color:#0E6E8A;
}
p{
font-size:18px;
font-family: serif;
}
strong{
	color: yellow;
}
li{
	font-size: 14px;
}